@import "../modules/all";

.chat-body {
  font-family: $font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  background-color: rgba($color: #000000, $alpha: 0.6);
  color: $dark-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}